target
.scala_dependencies
.idea
.settings
.cache
.idea_modules/
/build
*.iml
*.ipr
*.iws
*.msg
*.sw?
*/src/main/java/META-INF
.classpath
.DS_Store
.gradle
.idea
.project
.settings
bin
build
build.log
lib
logs
nohup.out
out
activemq-data
vf.gf.*
